##############################
## Java
##############################
.mtj.tmp/
*.war
*.ear
*.nar
hs_err_pid*

##############################
## IntelliJ
##############################
out/


##############################
## Windows
##############################
Thumbs.db
ehthumbs.db
Desktop.ini